{% extends 'base.html' %}

{% block content %}

<div>
<h4>
<pre>
"Jazz Real" DB :

- Search "Artist" by name
- Search "Transcript" by artist or tune
- Search by key word in N. Béniès DB
- Search tune by title to get suggested discography of "versions"
- Search tune by title to get "chords" with "transposition" tool
- Search tune by chords in "cadence". Example "IIm7-V7" or "Imaj7-IV"
- Search tune by chords in "bridge". Example "bIII"

Please do not hesitate to provide feedback.
</pre>
</h4>
</div>

{% endblock %}
