<!DOCTYPE html>
<html>
<body>
<form action="/search" align="left">
Rechercher les versions d'un standard: <input type="text" name="versions">
<input type="submit" value="Submit">
</form>
</p>
<p>
<form action="/search" align="left">
Rechercher la grille d'un standard: <input type="text" name="title">
<input type="submit" value="Submit">
</form>
</p>
<p>
<p>
<form action="/search" align="left">
Rechercher une cadence dans un standard: <input type="text" name="cadence">
<input type="submit" value="Submit">
</form>
</p>
<p>
<form action="/search" align="left">
Rechercher un pont dans un standard: <input type="text" name="bridge">
<input type="submit" value="Submit">
</form>
</p>
</body>
</html>
