{% extends 'base.html' %}

{% block content %}

<div>
<h4>
<pre>
"Jazz Real" :

- Rechercher un artiste par son "nom" ;
- Rechercher un relevé par nom d'artiste ou de thème ;
- Rechercher par mot-clé dans les articles de N. Béniès ;
- Rechercher un thème par son titre afin d'obtenir des "versions" suggérées ;
- Rechercher une grille d'accord par titre de thème (avec outil de transposition) ;
- Rechercher une cadence parmi les standards. Exemple "IIm7-V7" or "Imaj7-IV" ;
- Rechercher un type de modulation dans les ponts de standards. Exemple "bIII".

Ce projet est une initiative participative, alors n'hésitez pas à contribuer :

	- en envoyant vos relevés, grilles d'accord, ou infos d'artistes ;
	- en signalant bugs ou erreurs que vous pourriez rencontrés.

Merci,
J.
</pre>
</h4>
</div>

{% endblock %}
