<!DOCTYPE html>
<html>
<head>
<title>Sondage sur le groupement d’achats Quartier Rive Droite</title>
</head>

<body>
<h2>Vos habitudes de consommation</h3>
<form action="/poll">
<h3>{{ data.question1 }}</h3>
{% for e in data.field1 %}
<input type="radio" name="field1" value="{{ e }}"> {{ e }}<br>{% endfor %}
Autres : <input type="text" name="text1"><br>

<h3>{{ data.question2 }}</h3>
{% for e in data.field2 %}
<input type="radio" name="field2" value="{{ e }}"> {{ e }} <br>Si oui, laquelle : <input type="text" name="text_{{ e }}"><br>{% endfor %}

<h3>{{ data.question3 }}</h3>
{% for e in data.field3 %}
<input type="radio" name="field3" value="{{ e }}"> {{ e }}<br>{% endfor %}

<h3>{{ data.question4 }}</h3>
{% for e in data.field4 %}
<input type="radio" name="field4" value="{{ e }}"> {{ e }}<br>{% endfor %}

<h3>{{ data.question5 }}</h3>
{% for e in data.field5 %}
<input type="radio" name="field5" value="{{ e }}"> {{ e }}<br>{% endfor %}

<h3>{{ data.question6 }}</h3>
{% for e in data.field6 %}
<input type="checkbox" name="field6" value="{{ e }}"> {{ e }}<br>{% endfor %}
Autres : <input type="text" name="text6"><br>

<h3>{{ data.question7 }}</h3>
{% for e in data.field7 %}
<input type="radio" name="field7" value="{{ e }}"> {{ e }}<br>{% endfor %}

<h3>{{ data.question8 }}</h3>
{% for e in data.field8 %}
<input type="radio" name="field8" value="{{ e }}"> {{ e }}<br>{% endfor %}

<h3>{{ data.question9 }}</h3>
{% for e in data.field9 %}
<input type="radio" name="field9" value="{{ e }}"> {{ e }}<br>{% endfor %}
<br>
Exprimez-vous : <input type="text" size="50" name="text9"><br>
<br>
<input type="submit" value="Vote" />
</form>
</div>
</body>
</html>
