{% extends 'base.html' %}

{% block content %}
<title>{{ title }}</title>
<h1>{{ title }}</h1>
<br>
<p>
<h3>Grille:</h3>
<form target="_blank" rel="noopener noreferrer" method="get" action="/transpose">
<input type="hidden" name="tune"  value="{{ title_encoded }}" />
<select name="tone">
	<option value="">--choisir la tonalité--</option>
	<option value="A">A</option>
	<option value="A#">A#</option>
	<option value="Bb">Bb</option>
	<option value="B">B</option>
	<option value="Cb">Cb</option>
	<option value="C">C</option>
	<option value="C#">C#</option>
	<option value="Db">Db</option>
	<option value="D">D</option>
	<option value="D#">D#</option>
	<option value="Eb">Eb</option>
	<option value="E">E</option>
	<option value="F">F</option>
	<option value="F#">F#</option>
	<option value="Gb">Gb</option>
	<option value="G">G</option>
	<option value="G#">G#</option>
	<option value="Ab">Ab</option>
</select>
<input type="submit" value="transposer">
</form>

{% if list_name %}
<h3>
<pre>
List :
{{ list_name }}
</pre>
</p>
</h3>
{% endif %}

<p>
{% if span_chords %}
{% for x in span_chords %}
<h4>
<pre>
<span style="background-color: #FFFF00">Extract: {{ x }}</span>
</pre>
</h4>
{% endfor %}
{% endif %}
</p>
<p>
{% for x in results %}
<h3><pre>{{ x }}</pre></h3>
{% endfor %}
</p>

{% endblock %}
